{% extends 'layouts/main_layouts.html.twig' %}

{% block title %}Start Page{% endblock %}

{% block body %}

<h1>Home Page</h1>

<h3>Amount posts: {{ pagination.getTotalItemCount }}</h3>

<h3>Welcome to our Symfony Blog.</h3>

{% if not app.user %}
	<h4>To add a blog you need to register</h4>
{% endif %}

	{% for message in app.flashes('success') %}
		<div class="mb-3 alert alert-success">
			<h3>{{ message }}</h3>
		</div>
	{% endfor %}

{% for post in pagination %}
	<br>
	<div class="row">
		<div class="col-3">
			<img src="{{ app.request.getSchemeAndHttpHost() ~ '/photo/uploads/' ~ post.image  }}" style="width: 100%;">
		</div>

		<div class="col-9">
			<h2><a href="{{ path('wiev_blog', {id: post.id}) }}">{{ post.title }}</a></h2>
			<p>{{ post.description }}</p>
			<br>
			<p>Wrotten by: <a href="{{ path('user_profile', {id: post.getUserId.getId}) }}">{{ post.getUserId.getName }}</a></p>
			<p>Created: {{ post.getCreatedAtString }}</p>
		</div>
	</div>
	<br>
{% endfor %}

{{ knp_pagination_render(pagination) }}



{% endblock %}
